@model W24___TP___Remise_1___Delfik_Latulippe.Models.Discussion

@{
    ViewData["Title"] = "Delete";
}

<!----- DISCUSSION - DELETE ----->


<div class="d-flex row justify-content-center text-center grayText">
    <div class="col-12 px40Txt pinkText2">
        DELETE
    </div>

    <!-- WARNING TO USER -->
    <div class="col-12 px32Txt mb-2">
        Are you <b class="pinkText2">SURE</b> you want to delete your <b><i>reply</i></b> ?
    </div>
    <div class="px20Txt">
        @Html.Raw(Model.Post.Title)
        <br />
        @Html.Raw(Model.Text)
    </div>

    <div class="mt-5 col-12">
        <form asp-action="Delete">
            <input type="hidden" asp-for="MsgId" />
            <div class="col-12">
                <!-- DELETE BUTTON -->
                <input type="submit" value="Delete" class="w-auto btn btn-lg btn-secondary btnForms" />
            </div>
            <div class="col-12 mt-4">
                <!-- BACK TO DICUSSIONS -->
                <a asp-action="Index" asp-route-postId="@Model.PostId">Back to discussions</a>
            </div>
        </form>
    </div>
</div>

    
